.header {
    grid-area: header;
    background-color: white;
    border-bottom: 2px solid #d0d0d0;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px 10px;
    max-width: 1080px;
    margin: 0 auto;
}

.logoWrapper {
    display: flex;
    max-width: 50px;
    align-items: center;
}

.logo {
    max-height: 50px;
}