.App {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    row-gap: 10px;
    column-gap: 10px;
}