.wrapper {
    display: flex;
    padding: 5px;
}

.wrapper:not(.wrapper:last-of-type) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.photo {
    width: 80px;
    height: 80px;
}

.info {
    flex-grow: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.name {
    font-size: 1.05rem;
    font-weight: 600;
}

.status {
    opacity: 0.65;
    font-weight: 300;
}

.location {
    display: flex;
    align-items: center;
}

.location img {
    width: 14px;
    height: 14px;
}

.button {
    padding: 4px 10px;
    cursor: pointer;
    width: max-content;
    height: max-content;
    border: none;
    border-radius: 3px;
}

.subscribe {
    color: #222222;
    background-color: rgb(223, 225, 228);
}

.subscribe:hover {
    background-color: rgb(203, 203, 208);
}

.unsubscribe {
    color: #c6e3e6;
    background-color: #393939;
}

.unsubscribe:hover {
    background-color: #4d4d4d;
}